/*
* Resume section
*/
.resume-section {
  margin-bottom: $margin-lg;

  &__secondary-title {
    font-weight: 500;
  }

  &__link {
    color: var(--heading-color);
    text-decoration: none;
    margin-left: $margin_xs;
  }

  &__time {
    display: block;
    margin-top: $margin_sm;
    color: var(--heading-color);
    font-style: italic;
    font-weight: 400;
    font-size: $font_small;
  }
}

/*
* Main layout container
*/
.main {
  min-height: calc(100vh - 186px);
}

/*
* Images
*/
.img-round {
  border-radius: 100%;
}

/*
* Card
*/
.card {
  background: $gradient;
  box-shadow: $card_shadow;
  border-radius: $border_radius;
  padding: $padding_sm;
  margin-bottom: $margin-lg;
  text-align: center;
  color: $white;
  &__title {
    margin: $margin_sm 0;
  }
  &__desc {
    margin: 0;
  }
}

.card--small {
  max-width: 250px;
}

@media only screen and (max-width: $mobile) {
  .main {
    min-height: calc(100vh - 181px);
  }
}
