html {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: darken($color: $primary, $amount: 5%);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary_dark;
  }
}

/*
  * Container
  */
.container {
  margin: 0 auto;
  max-width: $container_width;
}

.flex {
  display: flex;
}

.row-reverse {
  flex-direction: row-reverse;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.unbulleted-list {
  list-style: none;
}

.heading-title {
  color: $primary;
  font-weight: 400;
  margin: 0;
}