html {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: darken($color: $primary, $amount: 5%);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary_dark;
  }
}

/*
* Container
*/
.container {
  margin: 0 auto;
  max-width: $container_width;
  padding: 0 $padding_sm;
}

.flex {
  display: flex;
}

.row-reverse {
  flex-direction: row-reverse;
}

.flex-center {
  @include flexCenter;
}

.unbulleted-list {
  list-style: none;
}

.heading-title {
  color: var(--heading-color);
  font-weight: 400;
  margin: 0;
}
