/*
* Main Page
*/
.intro {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  &__welcome {
    width: 69%;
    padding: $padding_mx;
  }
  &__title {
    font-weight: 400;
  }
  &__card {
    width: 30%;
  }
}

@media only screen and (max-width: $tablet) {
  .intro {
    flex-direction: column;

    &__welcome {
      width: 90%;
      padding: 0;
    }

    &__title {
      font-size: 24px;
      text-align: center;
    }

    &__card {
      width: 100%;
    }
  }
}
