/*
* Main Page
*/
.intro {
  @include flexBox(row-reverse, space-between, center);

  &__welcome {
    width: 69%;
    padding: $padding_mx;
  }
  &__title {
    font-weight: 400;
  }
  &__card {
    width: 30%;
  }
}

@media only screen and (max-width: $tablet) {
  .intro {
    @include flexBox(column);

    &__welcome {
      width: 90%;
      padding: 0;
    }

    &__title {
      font-size: 24px;
      text-align: center;
    }

    &__card {
      width: 100%;
    }
  }
}
