.resume {
  display: flex;
  flex-direction: row-reverse;

  &__sidebar {
    width: 35%;
  }

  &__main {
    width: 61%;
    margin-left: 4%;
  }

  &__img {
    width: 280px;
    margin: 0 auto 1em;
  }

  &__skills {
    display: flex;
    flex-wrap: wrap;
  }

  &__contact {
    margin: 0;
    padding: 0;
    & a {
      color: $primary;
    }
  }

  &__margin-top-lg {
    margin-top: $margin-lg;
  }

  &__category {
    color: $primary;
    border-bottom: 3px solid $primary;
    padding-bottom: 10px;
    text-transform: capitalize;
    font-weight: 400;
  }

  &__badge {
    background-color: $primary;
    color: $white;
    border-radius: $border_radius;
    margin: 0 6px 6px 0;
    text-transform: capitalize;
    padding: 6px 8px;
  }
}

@media only screen and (max-width: $tablet) {
  .resume {
    flex-direction: column-reverse;

    &__main,
    &__sidebar {
      width: 90%;
      margin: 0 auto;
    }
  }
}

@media print {
  body {
    margin: 10mm 5mm 10mm 5mm;
  }

  header,
  footer {
    display: none;
  }

  .container {
    margin: 0;
    max-width: 100%;
    padding: 0;
  }

  .resume__img {
    width: 300px;
  }
}
