.resume {
  @include flexBox(row-reverse);
  margin-bottom: $margin_xs;

  &__title {
    color: var(--heading-color);
    font-weight: 400;
  }

  &__sidebar {
    width: 35%;
  }

  &__main {
    width: 61%;
    margin-left: 4%;
  }

  &__img {
    width: 280px;
    margin: 0 auto 1em;
  }

  &__skills {
    display: flex;
    flex-wrap: wrap;
  }

  &__contact {
    margin: 0;
    padding: 0;
    & a {
      color: var(--heading-color);
    }
  }

  &__margin-top-lg {
    margin-top: $margin-lg;
  }

  &__category {
    color: var(--heading-color);
    border-bottom: 3px solid var(--heading-color);
    padding-bottom: 10px;
    text-transform: capitalize;
    font-weight: 400;
  }

  &__badge {
    background-color: var(--heading-color);
    color: var(--badge-color);
    border-radius: $border_radius;
    margin: 0 6px 6px 0;
    text-transform: capitalize;
    padding: 6px 8px;
  }
}

.download-resume {
  background: $gradient;
  color: $white;
  border-radius: $border_radius;
  text-decoration: none;
  text-transform: capitalize;
  padding: 8px 16px;
}

@media only screen and (max-width: $tablet) {
  .resume {
    @include flexBox(column-reverse);

    &__main,
    &__sidebar {
      width: 90%;
      margin: 0 auto;
    }

    &__sidebar {
      margin-bottom: $margin-lg;
    }
  }
}

@media print {
  body {
    margin: 10mm 0mm;
  }

  header,
  footer,
  .download-resume {
    display: none;
  }

  .container {
    margin: 0;
    max-width: 100%;
    padding: 0;
  }

  .resume__img {
    width: 300px;
  }
}
