.resume__img {
  width: 280px;
  margin: 0 auto 1em;
}

.resume__about {
  text-align: justify;
}

.resume__skills {
  display: flex;
  flex-wrap: wrap;
}

.resume__sidebar {
  width: 35%;
}

.resume__main {
  width: 61%;
  margin-left: 4%;
}

.resume__category {
  color: $primary;
  border-bottom: 3px solid $primary;
  padding-bottom: 10px;
  text-transform: capitalize;
}

.resume__badge {
  background-color: $primary;
  color: $white;
  border-radius: 6px;
  margin: 0 6px 6px 0;
  text-transform: capitalize;
  padding: 6px 8px;
}
