.resume__sidebar {
  width: 30%;
}

.resume__main {
  width: 66%;
  margin-left: 4%;
}

.resume__category {
  color: $primary;
  border-bottom: 3px solid $primary;
  padding-bottom: 10px;
  text-transform: capitalize;
}

.resume__badge {
  background-color: $primary;
  color: $white;
  border-radius: 6px;
  margin-right: 6px;
  text-transform: capitalize;
  padding: 6px 8px;
}
