/*
* Main color
*/

// colors
$primary: #003566;
$secondary: #ffd60a;
$primary_light: #001d3d;
$white: #ffffff;

// sizes
$container_width: 800px;
$border_radius: 4px;

$padding_xs: 5px;
$padding_sm: 10px;
$padding_me: 20px;
$padding_mx: 30px;

$margin_xs: 5px;
$margin_sm: 10px;
$margin_me: 20px;
$margin_mx: 30px;

$card_shadow: 0.5rem 1.25rem 1.75rem 0 rgba(100, 110, 140, 0.4);